<div style="display: flex;">

    <div id="QuemSomos">
        <h1><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-square-fill"
                viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z" />
            </svg>
            Quem somos nós?</h1>
        LA CASA DEL PANE©: Uma Jornada Sensorial Através do Pão

        Nascemos do desejo de celebrar a arte milenar da panificação, elevando o pão a uma experiência sensorial única.
        Mais do que uma padaria, LA CASA DEL PANE© é um refúgio aconchegante onde aromas convidativos e sabores
        autênticos se entrelaçam em uma sinfonia de deleite.

        Nossa filosofia se baseia em ingredientes frescos e cuidadosamente selecionados, técnicas tradicionais
        aprimoradas com paixão e um toque de inovação. Através de um processo artesanal meticuloso, transformamos
        simples grãos em obra<a class="nav-link" routerLink="/candidatar" routerLinkActive="active">
            Candidatar-se
          </a>s-primas de textura e sabor.

        Em LA CASA DEL PANE©, cada mordida é uma viagem a um mundo de descobertas. Do clássico pão italiano crocante à
        focaccia perfumada com ervas frescas, passando por doces viennoiseries e criações inovadoras, oferecemos uma
        variedade de pães que encantam os paladares mais exigentes.

        Somos um espaço acolhedor onde a tradição encontra a modernidade, criando um ambiente convidativo para saborear
        momentos especiais. Seja para um café da manhã revigorante, um almoço leve ou um lanche da tarde, nossa equipe
        dedicada está pronta para atender com cordialidade e expertise.

        LA CASA DEL PANE©: onde o pão se torna poesia, e cada mordida revela uma história de paixão, dedicação e amor
        pelo que fazemos.

        Convidamos você a se juntar a nós nesta deliciosa jornada sensorial.
    </div>
    <div id="cafeImg">
        <img src="../../assets/img/deliciosos-graos-de-cafe-e-xicara_23-2150691429.avif" alt="">
    </div>
</div>
<div style="display: flex; padding-top: 5.6rem;">
    <div id="CroissantsImg">
        <img src="../../assets/img/06croissantsrex1-square640.jpg" alt="">
    </div>
    <div id="historia">

        <h1><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-square-fill"
                viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z" />
            </svg> Nossa História</h1>

        Onde o aroma se transforma em sinfonia, e cada mordida revela uma história

        Em um tempo onde a memória se tinge com tons nostálgicos, LA CASA DEL PANE© surge como um refúgio aconchegante,
        um oásis de aromas convidativos e sabores autênticos, onde a tradição encontra a modernidade em uma sinfonia de
        deleite.

        Inspirada na arte milenar da panificação, LA CASA DEL PANE© eleva o pão a uma experiência sensorial única. Mais
        do que uma padaria, somos um portal que te convida a uma viagem a um mundo de descobertas, onde cada mordida
        revela uma história de paixão, dedicação e amor pelo que fazemos.

        Nascemos do desejo de celebrar a simplicidade dos grãos transformados em obras-primas de textura e sabor.
        Através de um processo artesanal meticuloso, cuidadosamente selecionamos os ingredientes mais frescos,
        combinando técnicas tradicionais com um toque de inovação.

        Nossa filosofia se baseia na busca incessante pela perfeição. Do clássico pão italiano crocante à focaccia
        perfumada com ervas frescas, passando por doces viennoiseries e criações inovadoras, oferecemos uma variedade de
        pães que encantam os paladares mais exigentes.

        LA CASA DEL PANE©: um espaço acolhedor onde a tradição encontra a modernidade. Aqui, você encontrará um ambiente
        convidativo para saborear momentos especiais, seja para um café da manhã revigorante, um almoço leve ou um
        lanche da tarde. Nossa equipe dedicada está pronta para atender com cordialidade e expertise, sempre atenta aos
        seus desejos.

        Convidamos você a se juntar a nós nesta deliciosa jornada sensorial. Venha se encantar com a magia da LA CASA
        DEL PANE©, onde o pão se torna poesia e cada mordida revela uma história de paixão, dedicação e amor pelo que
        fazemos.

    </div>
</div>


<app-footer></app-footer>
